.container {
  background-color: #0f172a;
}

.head {
  font-family: "Roboto";
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.image {
  height: 100vh;
  width: 100vh;
  margin: auto;
  padding: auto;
}
